{% extends "base.html" %}


{% block announce %}

<div style="text-align: center;">
    <strong> 🚧 Beta Version: This documentation is in beta. Please help us to improve! 🚧 You can use our <a href="https://msurvey.orange.com/khiopsdoc" target="_blank" rel="noopener">feedback form</a></strong>
</div>

{% endblock %}

{% block footer %}
<footer class="md-footer">
  <!-- Further information -->
  <div class="md-footer-meta md-typeset">
      <div class="md-footer-meta__inner md-grid">
      <!-- Copyright and theme information -->
      <div class="md-footer-copyright">© Orange S.A. 2023 - <a href="#__consent"> Change cookie settings</a></div>
      <!-- Social links -->
      <div class="md-footer-social">
      </div>
      </div>
  </div>
</footer>
{% endblock %}