# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints

# Other
docs/advanced/notebooks/logs.log
docs/tutorials/sourced-notebooks/st_results
docs/tutorials/sourced-notebooks/mt_results
docs/tutorials/notebooks/
docs/api-docs/python-api/api/
site/*
.cache
# Python
__pycache__
*.egg-info
# VS
.vs
