# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints

# Other
docs/advanced/Notebooks/logs.log
docs/tutorials/Notebooks/st_results
docs/tutorials/Notebooks/mt_results
.cache
# Python
__pycache__
*.egg-info
# VS
.vs
