# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints

# Other
docs/advanced/Notebooks/logs.log
docs/tutorials/Notebooks/st_results
docs/tutorials/Notebooks/mt_results
docs/tutorials/notebook-pages/
docs/api-docs/python-api/api/
site/*
.cache
# Python
__pycache__
*.egg-info
# VS
.vs
