
<!-- Footer -->
<footer class="md-footer">
  <!-- Further information -->
  <div class="md-footer-meta md-typeset">
      <div class="md-footer-meta__inner md-grid">
      <!-- Copyright and theme information -->
      <div class="md-footer-copyright">© <a href="https://www.orange.com/en" target="_blank">Orange S.A.</a> 2024 - <a href="/legalmatters/">Legal matters</a> -  <a href="#__consent"> Change cookie settings</a></div>
      <!-- Social links -->
      <div class="md-footer-social">
      </div>
      </div>
  </div>
</footer>


